html {
  height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body, h1, p, ul {
  margin: auto;
  width: 75%;
  padding: 10px;
  text-align: center;
}

h1 {
  margin-bottom: 100px;
}

body {
  /* background-color: rgb(253, 176, 192); /* alt: yellow; */
  width: 540px;
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

.card {
  background-color: white;
  border-radius: 15px;
}

#image {
  margin: 5px;
}

#stats {
  margin-right: 10px;
  margin-bottom: 5px;
}

.forecast-container {
  width: 100%;
}

.forecast-day {
  display: inline-block;
  width: 19%;
  border: 1px solid red;
}

.forecast-high, .forecast-low {
  width: 50%;
  font-size: .75em;
  display: inline-block;
  vertical-align: top;

  margin: 0;
  padding: 5px 0 5px 0;
}

.forecast-high {
  text-align: left;
  float: left;
}

.forecast-low {
  text-align: right;
  float: right;
}
