html {
  height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body, h1, p, ul {
  margin: auto;
  width: 75%;
  padding: 10px;
  text-align: center;
}

h1 {
  margin-bottom: 100px;
}

body {
  /* background-color: rgb(253, 176, 192); /* alt: yellow; */
  width: 540px;
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

#card {
  background-color: white;
  border-radius: 15px;
}
